* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
header {
  width: 100%;
  text-align: center;
}
.heading {
  padding: 20px 0;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  border: 1px solid;
}

.nav-list-item {
  display: inline-block;
  padding: 0 20px;
}

.main {
  width: 800px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: pink;
  display: flex;
}

.color1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.color2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.color3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.color4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}
.color5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.color6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.color7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.color8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}


